ENVIRONMENT=local
DISABLE_RATE_LIMIT=true

# DATABASE
DATABASE_URL="Server=localhost,1433;Database=backend_c_sharp;User Id=sa;Password=YourPassword123;TrustServerCertificate=True;"
DATABASE_URL_AUDIT="Server=localhost,1433;Database=backend_c_sharp;User Id=sa;Password=YourPassword123;TrustServerCertificate=True;"

# CACHE
REDIS_HOST="redis://localhost:6379"

# APPLICATION
PORT=8888
FIRST_USER=admin@email.com
FIRST_PASSWORD=admin@123
JWT_SECRET=86941813-8b97-4cad-b0b2-f97734a947d7
PDF_SERVICE_URL=http://localhost:8889

# MESSAGING
MESSAGING_ENABLED=false
RABBIT_URL=amqp://guest:guest@localhost:5672
